<div class="container"><h2><%= @list.name %></h2>
<%#= display all associated bookmarks  %>
<% @list.bookmarks.each do |bookmark| %>
<p>Title: <%= bookmark.movie.title%><br></p>
<p>Comment: <%= bookmark.comment%></p>
<%= link_to "Delete bookmark", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>
<%= link_to "Create new bookmark", new_bookmark_path(@list) %><br>
<%= link_to "go home", lists_path%>
<%= link_to "Delete list", list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

</div>
