<div class="container"><h2><%= @list.name %></h2>
<%#= display all associated bookmarks  %>
<% @list.bookmarks.each do |bookmark| %>
<p>Title: <%= bookmark.movie.title%><br></p>
<p>Comment: <%= bookmark.comment%></p>
<%= image_tag bookmark.movie.poster_url %>
<% end %>
<%= link_to "Create new bookmark", new_bookmark_path(@list) %><br>
<%= link_to "go home", lists_path%>
</div>
