<div class="container align-center">
<h1>Create a bookmark</h1>

<%= simple_form_for @bookmark do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.button :submit %>
<% end %>
</div>
<%= link_to "go home", lists_path%>
