<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dfx8gzbl4/image/upload/v1685712374/jakob-owens-CiUR8zISX60-unsplash_hruq9h.jpg);">
  <div class="container">
    <h1>Films to bring you joy</strong>!</h1>
    <p>Curate your own to-be-watched lists</p>
  </div>
</div>
    <%= yield %>
  </body>
  <footer class="mt-5 container">
  <p>Happy watching</p>

  </footer>
</html>
